/* || RESET |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{ 
    display: block;
    max-width: 100%;
    height: auto;
}


input, button, textarea a{
    font-family:inherit;
}

textarea{
    resize: none;
}


/* || VARIABLES |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
:root{
    /* FONTS */
    --FONT_FAMILY: 'Courier New', Courier, monospace;
    --FONT_SIZE_H: 2.2rem;
    --FONT_SIZE_P: 1.2rem;

    /*COLORS*/
    /* --BG_COLOR: whitesmoke; */
    --HEADER_BG_COLOR: #161A30;
    --MAIN_BG_COLOR: #31304D;
    --DELETE_DROPDOWN_BG_COLOR: #3f3d63;
    --DIVIDER_COLOR: rgb(255, 255, 255);
    --FONT_COLOR: whitesmoke;
    --FONT_P_COLOR: lightgray;
    --FONT_SELECTEDLINK_COLOR: gold; 
    --FONT_FORM_CONFIRM_COLOR: green;
    --FONT_FORM_DISCARD_COLOR: orange;
    --DEFAULT_COVER_BG_COLOR: lightgray;
    --BOXSHADOW_COLOR_VERTICAL: rgba(0, 0, 0, 0.2); 
    --BOXSHADOW_COLOR_HORIZONTAL: rgba(0, 0, 0, 0.19);

  

    /*BORDERS*/

    /*STANDARD PADDING*/
    --PADDING_TB: 0.25em;
    --PADDING_SIDE: 1.25%; 
    /*STANDARD PADDING*/
}

/* Black Theme Overrides */
@media (prefers-color-scheme: dark) {
    :root{
        /* FONTS */
    
        /*COLORS*/
        /* --BG_COLOR: hsl(243, 10%, 31%); */ 
        /* --BOXSHADOW_COLOR_VERTICAL: rgba(255, 255, 255, 0.2); */
        /* --BOXSHADOW_COLOR_HORIZONTAL: rgba(255, 255, 255, 0.19); */
        /*BORDERS*/
    
        /*STANDARD PADDING*/
    
        /*STANDARD PADDING*/
    }
}

/* || UTILITY CLASSES |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.offscreen{
    position: absolute;
    left: -10000;
}

.nowrap{
    white-space: nowrap;
}

.center{
    text-align: center;
}

.selectable{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.grey_text{
    color: var(--FONT_P_COLOR);
}

.white, .white_text
{
    color: var(--FONT_COLOR)
}

.full_width
{
    width: 100%;
}

/* || GENERAL STYLES |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
html{
    scroll-behavior: smooth;
    /* Replace with variables */
    font-size: var( --FONT_SIZE);
    font-family: var(--FONT_FAMILY); 
}

body{
    background-color: var(--BG_COLOR);
}

main{
    color: var(--FONT_COLOR);
    background-color: var(--MAIN_BG_COLOR);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 100vh;

    box-shadow: 0 4px 8px 3px var(--BOXSHADOW_COLOR_VERTICAL),  0 6px 2px 0 var(--BOXSHADOW_COLOR_HORIZONTAL);
}

header{
    background-color: var(--HEADER_BG_COLOR);
    min-height: 4rem;
    box-shadow: 0 2px 4px 1px var(--BOXSHADOW_COLOR_VERTICAL); 
}

footer{
    height: 50px;
    background-color: var(--HEADER_BG_COLOR);
    box-shadow: -2px 0 4px 1px var(--BOXSHADOW_COLOR_VERTICAL); 
}

a:any-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:focus-visible{
    color: var(--FONT_SELECTEDLINK_COLOR);
    text-decoration: underline;
    outline: none;
}

a:active{
    color: var(--FONT_P_COLOR);
    outline: none;
}

h1, h2, h3{
    margin: 0;
    font-size: var(--FONT_SIZE_H);
}

h2{
    margin-bottom: 5px;
}

p, label{
    margin: 0;
    font-size: var(--FONT_SIZE_P);
    color: var(--FONT_P_COLOR);
    white-space:pre-wrap;
}

label{
    color: var(--FONT_COLOR);
}

img{
    /* border: 2px solid black; */
    /* height: 100%;
    width: 100%; */

}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

/* || HEADER |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__links{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 16px;
    font-size: 1.1rem;
}

.header__divider{
    border: 2px solid var(--DIVIDER_COLOR);
}
 
.header__title:hover, .header__title:focus-visible{
    color: var(--FONT_COLOR);
    text-decoration: none;
}

.header__title a:active{
    color: var(--FONT_P_COLOR);
}

.header__button{
    background-color: transparent;
    border: none;
    color: var(--FONT_COLOR);
    font-weight: bold;
    font-size: var(--FONT_SIZE);
    outline: none;
}

.header__button:hover, .header__button:focus-visible{
    color: var(--FONT_SELECTEDLINK_COLOR);
    text-decoration: underline;
    border: none;
}

.confirm{
    color: var(----FONT_FORM_CONFIRM_COLOR);
}

.discard:hover, .delete:hover, .discard:focus-visible, .delete:focus-visible{
    color: var(--FONT_FORM_DISCARD_COLOR);
}

.confirm, .discard{
    font-size: calc(var(--FONT_SIZE) * 10px);
}

.dropdown{
    position: relative;
    /* display: inline-block; */
}

.header__delete_conf{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--DELETE_DROPDOWN_BG_COLOR);
    min-height: 40px;
    width: 100%;
    gap: 20px;

    /* display: flex; */
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
}

.show{
    display: flex;
}
/* || Footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.footer{
    padding: var(--PADDING_TB) var(--PADDING_SIDE);
    color: var(--FONT_COLOR);
}

/* || MAIN |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.main{
    padding: var(--PADDING_TB) var(--PADDING_SIDE);
}

/* || DIVIDER |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.divider
{
    color: var(--DIVIDER_COLOR);
    width: 100%;
    margin: 10px 0;
    border-top: 5px solid var(--DIVIDER_COLOR);
}

/* || FILTER */
.filter
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .55em;

}

.filter h3{
    padding-top: 2px;
    font-size: 1.5rem;
    /* font-weight: bolder; */
}
.filter__button{
    border: none;
    background-color: transparent; 
    color: whitesmoke;
    outline: none;

    font-size: 1.3rem;  
    padding: 0;
}

.filter__button:hover, .filter__button:focus-visible{
    color: var(--FONT_SELECTEDLINK_COLOR);
    text-decoration: underline;
}

.filter__button:active {
    color: var(--FONT_SELECTEDLINK_COLOR);
}   

/* || SHOWCASE |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.showcase__top-books
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
    /* min-height: 500px; */
}

.showcase__book:hover *, .showcase__book:focus-visible *{
    color: var(--FONT_SELECTEDLINK_COLOR);
    border-color: var(--FONT_SELECTEDLINK_COLOR);
}


.showcase__book.book_cover { 

    width: clamp(150px, 300px, 350px);
    height: clamp(250px, 400px, 450px);
/* 
    max-width: none;
    max-height: none; */

    /* min-width: 250px;
    min-height: 350px;

    max-width: 250px;
    max-height: 350px; */

}

.book_cover {
    /* min-width: 150px;
    min-height: 250px; 
    max-width: 150px;
    max-height: 250px; */

    width: 150px;
    height: 200px;

    /* max-width: 150px;
    max-height: 200px; */

    /* padding: 10px 0; */
    /* margin-bottom: 10px; */
    background-color: var(--DEFAULT_COVER_BG_COLOR);
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}



.book_cover img{
    /* min-width: 250px;
    min-height: 350px;
    max-width: 250px;
    max-height: 350px; */
    width: 100%;
    height: 100%;
}

.book_cover p{
    color: black;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
}

/* .no_book_cover
{
    background-color: var(--DEFAULT_COVER_BG_COLOR);
    width: 100%;
    height: 100%;

    text-wrap: wrap;
    font-size: 1em;
    font-weight: bold;
    color: var(--FONT_P_COLOR);
    text-align: center;

    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.no_book_cover p
{
    color: black
}

/* .book__cover img{
    height: 100%;
    width: 100%;
} */

.showcase__top-books > .showcase_book p{
    text-align: center;
    margin: 0
}

.books__book{
    min-height: 250px;
    display: flex;
    flex-direction: row;
}

.books__book.selectable:hover *,
.books__book.selectable:focus-visible * {
    color: var(--FONT_SELECTEDLINK_COLOR);
    border-color: var(--FONT_SELECTEDLINK_COLOR);
}

.books__button{
    background-color: transparent;
    border: none;
    text-align: left;
    color: var(--FONT_COLOR);
}

.books__button:hover,
.books__button:focus-visible {
    text-decoration: underline;
    color: var(--FONT_SELECTEDLINK_COLOR);
    outline: none;
}


.books__book:nth-child(1){
    margin-top: 0.8rem;
}



.books__details
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 var(--PADDING_SIDE);
}


.books__details_text{
    display: flex;
    flex-direction: column;
}


.books__extra-details
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_overflow{
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* .books__book.no_book_cover
{
    width: 150px;
    height: 250px;
    margin-bottom: 10px;
} */

/* || SELECTED_BOOK ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.selected-book{
    margin-top: 10px;
}

.selected-book__image, .selected-book .no_book_cover
{
    float:left;
    margin: 0 10px 10px 0;
    width: 250px;
    height: 350px;
}


.selected-book__info{
    margin-bottom: 30px;
}

.selected-book h2, h3
{
    margin-bottom: 3px;
}

.selected-book p
{
    margin-bottom: 2px;
}

.selected-book__info h3{
    font-size: 1.7rem;
}

/* || EDIT */
.edit__form{
    display: flex;
    flex-direction: column;
}

.edit__form label{
    margin-bottom: 5px;
    font-weight: bold;
}
.edit__horizontal{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit__id_type, .edit__id_number, .edit__date_read, .edit__Rating{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit__date_read{
    max-width: 130px;
}  

.edit__Rating{
    max-width: 50px;
}

.textarea.notes{
    height: 500px;
}

.edit__input{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;

    outline: none;
}

.edit__button
{
    margin-top: 5px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    color: var(--FONT_COLOR);
}

.edit__button:first-child{
    background-color: var(--FONT_FORM_CONFIRM_COLOR);;
}

.edit__button:last-child{
    background-color: var(--FONT_FORM_DISCARD_COLOR);;
}

.edit__button:first-child:hover, .edit__button:first-child:focus-visible{
    background-color: rgba(0, 128, 0, 0.7);
}

.edit__button:last-child:hover, .edit__button:last-child:focus-visible{
    background-color: rgba(255, 166, 0, 0.7);
}

/* || SMALL |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media screen and (max-width: 576px){
    .header{
        flex-direction: column;
        align-content: center;
        gap: 15px;
    }

    .filter{
        flex-direction: column;
        align-items: start;
        gap:2px
    }

    .books__book{
        flex-direction: column;
    }

    .books__book .book_cover {
 
        align-self: center;
    }

    .book_cover {
 
        align-self: center;
        width: 250px;
        height: 350px;
        max-width: 250px;
        max-height: 350px;
    }

    .text_overflow{
        -webkit-line-clamp: 5;
    }
    
    /* .books__book img, .books_book.no_book_cover {
        align-self: center;
        width: 200px;
        height: 300px;
    } */

    .selected-book{
        display: flex;
        flex-direction: column;
    }

    .selected-book__image{
        float: none;
        width: auto;
        height: 550px;
        align-self: center;
        margin: 0 0 10px 0;
    }   

    .edit__horizontal{
        display: flex;
        flex-direction: column;
    }

}
/* || MEDIUM */
@media screen and (min-width: 768px){
    
}
/* || LARGE */
@media screen and (min-width: 992px){
    
}
/* || XL */
@media screen and (min-width: 1200px){
    
}

