/* || RESET */

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{ 
    display: block;
    max-width: 100%;
    height: auto;
}


input, button, textarea a{
    font:inherit;
}

textarea{
    resize: none;
}


/* || VARIABLES */
:root{
    /* FONTS */
    --FONT_FAMILY: 'Courier New', Courier, monospace;
    --FONT_SIZE_H: 2.2rem;
    --FONT_SIZE_P: 1.2rem;

    /*COLORS*/
    --BG_COLOR: lightgrey;
    --HEADER_BG_COLOR: rgb(83, 83, 231);
    --MAIN_BG_COLOR: darkblue;
    --DIVIDER_COLOR: rgb(255, 255, 255);
    --FONT_COLOR: whitesmoke;
    /*BORDERS*/

    /*STANDARD PADDING*/
    --PADDING_TB: 0.25em;
    --PADDING_SIDE: 1.25%; 
    /*STANDARD PADDING*/
}

/* Black Theme Overrides */
@media (prefers-color-scheme: dark) {
    :root{
        /* FONTS */
    
        /*COLORS*/
    
        /*BORDERS*/
    
        /*STANDARD PADDING*/
    
        /*STANDARD PADDING*/
    }
}

/* || UTILITY CLASSES */
.offscreen{
    position: absolute;
    left: -10000;
}

.nowrap{
    white-space: nowrap;
}

.center{
    text-align: center;
}

.selectable{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.grey_text{
    color: lightgray;
}

.full_width
{
    width: 100%;
}

/* || GENERAL STYLES */
html{
    scroll-behavior: smooth;
    /* Replace with variables */
    font-size: var( --FONT_SIZE);
    font-family: var(--FONT_FAMILY); 
    background-color: var(--BG_COLOR);
    /* background-image: ; */
}

main{
    color: var(--FONT_COLOR);
    background-color: var(--MAIN_BG_COLOR);
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

header{
    background-color: var(--HEADER_BG_COLOR);
    min-height: 3.5rem;
}

footer{
    height: 50px;
    background-color: var(--HEADER_BG_COLOR);
}

a:any-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:focus-visible{
    color: gold;
    text-decoration: underline;
    outline: none;
}

a:active{
    color: lightgray;
    outline: none;
}

h1, h2, h3{
    margin: 0;
    font-size: var(--FONT_SIZE_H);
}

p{
    margin: 0;
    font-size: var(--FONT_SIZE_P);
    color: lightgray;
}

img{
    border: 2px solid black;
}

li{
    list-style-type: none;

}

/* || HEADER */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header__links{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 10px;
    font-size: 1.1rem;
}

.header__divider{
    border-left: 5px solid black;
    height: 100%;
}

.header__title a:any-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header__title:hover, .header__title    :focus-visible{
    color: var(--FONT_COLOR);
    text-decoration: none;
}

.header__title a:active{
    color: lightgray;
}


/* || MAIN */
.main{
    padding: var(--PADDING_TB) var(--PADDING_SIDE);
}

/* || DIVIDER */
.divider
{
    color: var(--DIVIDER_COLOR);
    width: 100%;
    margin: 10px 0;
    border-top: 5px solid var(--DIVIDER_COLOR);
}

/* || FILTER */
.filter
{
    /* height: auto; */
    /* background-color: rgb(80, 80, 24); */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .55em;

}

.filter h3{
    padding-top: 3px;
    font-size: 1.5rem;
    font-weight: bolder;
}
.filter_button{
    border: none;
    background-color: transparent; 
    color: whitesmoke;
    outline: none;

    font-size: 1.5rem;  
    padding: 0;
}

.filter_button:hover, .filter_button:focus-visible{
    color: gold;
    text-decoration: underline;
    
}

.filter_button:active {
    color: gold;
}   


/* || SHOWCASE */
.showcase
{
    height: auto;
    /* background-color: lightblue; */
}

.showcase_top-books
{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: end;
    gap: 1.5em;
}

.showcase_book img { 
    min-width: 150px;
    min-height: 200px;

    max-width: 200px;
    max-height: 200px;
}

.no_book_cover
{
    background-color: white;

    width: 150px;
    height: 200px;

    text-wrap: wrap;
    font-size: 1em;
    font-weight: bold;
    color: lightgray;
    padding: 5px;
    text-align: center;

    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase_top-books > .showcase_book p{
    text-align: center;
    margin: 0
}

.books_book{
    min-height: 250px;
    display: flex;
    flex-direction: row;
}

.books_book.selectable:hover *, .books_book.selectable:focus * {
    color: gold;
}

.books_book:nth-child(1){
    margin-top: 0.8rem;
}

.books_book img {
    min-width: 150px;
    width: 150px;
    min-height: 200px;
    height: auto;
    margin-bottom: 10px;
}

.books_details
{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    padding: 0 var(--PADDING_SIDE);
}

.books__button{
    background-color: transparent;
    border: none;
    text-align: left;
    color: var(--FONT_COLOR)
}

.books_details_text{
    display: flex;
    flex-direction: column;
}


.books_extra-details
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_overflow{
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.books_book.no_book_cover
{
    min-width: 150px;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

/* || SELECTED_BOOK */

.selected_book{
    margin-top: 10px;
}

.selected_book__image, .selected_book .no_book_cover
{
    float:left;
    margin: 0 10px 10px 0;
    width: 250px;
    height: 350px;
}


.selected_book__info{
margin-bottom: 30px;
}

.selected_book h2, h3
{
    margin-bottom: 3px;
}

.selected_book p
{
    /* font-size: 1.2rem; */

    margin-bottom: 2px;
}

.white
{
    color: var(--FONT_COLOR)
}

.selected_book__info h3{
    font-size: 1.7rem;
}

/* || EDIT */
.edit__form{
    display: flex;
    flex-direction: column;
}

.edit__horizontal{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit__id_type, .edit__id_number, .edit__date_read, .edit__Rating{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit__date_read{
    max-width: 120px;
}  

.edit__Rating{
    /* flex: 1; */
    max-width: 50px;
}

.textarea.notes{
    height: 500px;
 
}

.edit__input{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}


/* || SMALL */
@media screen and (max-width: 576px){
    .books_book{
        flex-direction: column;
    }

    .text_overflow{
        -webkit-line-clamp: 5;
    }
    
    .books_book img, .books_book.no_book_cover {
        align-self: center;
        width: 200px;
        height: 350px;
    }

    .selected_book{
        display: flex;
        flex-direction: column;
    }

    .selected_book__image{
        float: none;
        width: auto;
        height: 550px;
        align-self: center;
        margin: 0 0 10px 0;
    }   

    .edit__horizontal{
        display: flex;
        flex-direction: column;
    }

}
/* || MEDIUM */
@media screen and (min-width: 768px){
    
}
/* || LARGE */
@media screen and (min-width: 992px){
    
}
/* || XL */
@media screen and (min-width: 1200px){
    
}

